*{
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
/*.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}*/
.row{
	padding: 0;
	margin-right: 0;
  margin-left: 0;
}
.inicio {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/*titulo*/
.titulo{
	background-color: rgb(249, 238, 135);
	width: 100%;
	.logo{
		img {
      padding: 5% 0 ;
      width: auto;
      max-width: 100%;
    }
	}
}
/*navegacion*/
section.navegacion {
  z-index: 3;
  width: 100%;
  left: 0;
  nav.navbar.navbar-default {
    margin: 0;
    background-color: rgb(249, 238, 135);
    border-color: transparent;
    padding: 1% 5% 1%;
  }
}
/*grid*/
.todo-grid{
	padding: 0;
}
.clases{
	img{
		width: 100%;
	}
}
.cuiddados{
	h1{
		background-image: url(http://livedemo00.template-help.com/drupal_53821/sites/default/files/icon-services-4.png);
	}
}

