*{
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
/*.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}*/
.row{
	padding: 0;
	margin-right: 0;
  margin-left: 0;
}
.inicio {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/*titulo*/
.titulo{
	background-color: rgb(249, 238, 135);
	width: 100%;
	.logo{
		img {
      padding: 5% 0 ;
      width: auto;
      max-width: 100%;
    }
	}
}
/*navegacion*/
section.navegacion {
  z-index: 3;
  width: 100%;
  left: 0;
  nav.navbar.navbar-default {
    margin: 0;
    background-color: rgb(249, 238, 135);
    border-color: transparent;
    padding: 1% 5% 1%;
    font-family: 'Anton', sans-serif;
  }
}
/*grid*/
.todo-grid{
	padding: 0;
}
.clases{
	img{
		width: 100%;
	}
}
/*texto*/
.texto{
	p {
   font-size: 70px;
   padding: 10%;
   font-family: 'Anton', sans-serif;
 }
}
/*cuidados*/
.cuidados{
	padding: 5%;
	.fondo-img1{
		padding: 5%;
		background-image: url(http://livedemo00.template-help.com/drupal_53821/sites/default/files/icon-services-1.png);
		background-size: cover;
	}
	.fondo-img2{
		padding: 5%;
		background-image: url(http://livedemo00.template-help.com/drupal_53821/sites/default/files/icon-services-2.png);
		background-size: cover;
	}
	.fondo-img3{
		padding: 5%;
		background-image: url(http://livedemo00.template-help.com/drupal_53821/sites/default/files/icon-services-3.png);
		background-size: cover;
	}	
	.fondo-img4{
		padding: 5%;
		background-image: url(http://livedemo00.template-help.com/drupal_53821/sites/default/files/icon-services-4.png);
		background-size: cover;
	}
}

